<footer class="footer text-center mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Copyright Information</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-md-3 mx-auto">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h5>Search Website</h5>
                <form class="form-inline search-form justify-content-center">
                    <input class="form-control mr-2 mb-2 mb-md-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Go!</button>
                </form>
            </div>
        </div>
    </div>
</footer>