<nav class="navbar navbar-expand-lg navbar-light" xmlns:sec="http://www.thymeleaf.org">
    <a class="navbar-brand" href="#"><img src="/images/site-logo.png" alt="Logo" height="35"></a>
    <div class="collapse navbar-collapse justify-content-center">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search games" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/games">Games</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/users/my_account.html}">My Account</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link" th:href="@{/users/my_account.html}">Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <span sec:authorize="hasRole('ROLE_ADMIN')" class="badge badge-primary">Admin</span>
                <span sec:authorize="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')" class="badge badge-secondary">User</span>
            </a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_USER') || hasRole('ROLE_ADMIN')">
            <a class="nav-link" id="logoutButton" th:href="@{/logout}">Logout</a>
        </li>
        <li class="nav-item" sec:authorize="!hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
            <a class="nav-link" data-toggle="modal" data-target="#loginModal">Log in</a>
        </li>
    </ul>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var logoutButton = document.getElementById('logoutButton');
        if (logoutButton) {
            logoutButton.addEventListener('click', function(event) {
                event.preventDefault(); // Prevent default link behavior
                fetch('/logout', {
                    method: 'GET'
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            console.error('Logout failed');
                        }
                    })
                    .catch(error => {
                        console.error('Network error:', error);
                    });
            });
        }
    });
</script>